* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.content {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.content h2 {
  font-size: 50px;
  color: white;
  margin-bottom: 20px;
}

.content h2 span {
  color: #0077b6;
}

.content p {
  font-size: 20px;
  color: white;
  opacity: 0.8;
}

.content button {
  padding: 12px 22px;
  margin-top: 30px;
  font-size: 22px;
  border: none;
  outline: none;
  color: white;
  background-color: #0077b6;
  border-radius: 25px;
  cursor: pointer;
  opacity: 0.85;
  transition: opacity 0.5s;
}

.content button:hover {
  padding: 10px 20px;
  margin-top: 30px;
  font-size: 22px;
  color: #0077b6;
  border: solid #0077b6;
  background-color: white;
}
.background-image {
  background-image: url("skyline.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  position: relative;
}

.background-image::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.secondBackground {
  background-image: url("neoncity.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  position: relative;
}

.secondBackground::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

#quote .content {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#quote blockquote {
  font-family: "Special Elite", cursive;
  font-weight: 100;
  font-size: 2rem;
  /* max-width: 100px; */
  line-height: 1.4;
  position: relative;
  padding: 0.5rem;
  color: white;
}

/*
#quote blockquote:before,
blockquote::after {
  position: absolute;
  color: grey;
  font-size: 8rem;
  width: 4rem;
  height: 4rem;
}

#quote blockquote:before {
  content: "“";
  left: -5rem;
  top: -2rem;
}

#quote blockquote:after {
  content: "”";
  right: -5rem;
  bottom: 1rem;
}
*/

#quote cite {
  line-height: 2;
  text-align: left;
}

cite {
  color: #3f3f5a;
  font-family: "Brush Script", cursive;
  font-size: 20px;
}

.audioSite {
  position: absolute;
  top: 115%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.audioSite h2 {
  font-size: 50px;
  color: white;
  margin-bottom: 20px;
}

.audioSite p {
  font-size: 20px;
  color: white;
  opacity: 0.8;
}

.audioSite h2 span {
  color: rgb(140, 71, 152);
}

.lars button {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 130%;
  left: 25%;
  padding: 12px 22px;
  margin-top: 30px;
  font-size: 22px;
  border: none;
  outline: none;
  color: white;
  background-color: rgb(47, 237, 237);
  border-radius: 25px;
  cursor: pointer;
  opacity: 0.85;
  transition: opacity 0.5s;
}

.lars button:active {
  font-size: 23px;
}

.danylo button {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 130%;
  left: 50%;
  padding: 12px 22px;
  margin-top: 30px;
  font-size: 22px;
  border: none;
  outline: none;
  color: white;
  background-color: rgb(47, 237, 237);
  border-radius: 25px;
  cursor: pointer;
  opacity: 0.85;
  transition: opacity 0.5s;
}

.danylo button:active {
  font-size: 23px;
}

.philipp button {
  transform: translate(-50%, -50%);
  position: absolute;
  top: 130%;
  left: 75%;
  padding: 12px 22px;
  margin-top: 30px;
  font-size: 22px;
  border: none;
  outline: none;
  color: white;
  background-color: rgb(47, 237, 237);
  border-radius: 25px;
  cursor: pointer;
  opacity: 0.85;
  transition: opacity 0.5s;
}

.philipp button:active {
  font-size: 23px;
}

.smurfbackground {
  background-image: url("smurf.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
  position: relative;
}
